		body{
			/*font-family:'Rubik';*/
			font-family: 'Varela Round', sans-serif;
			font-weight: 400;
			font-style: normal;
		}
		.box{
			margin: 20px auto;
		}
		.small{
			max-width:200px;
			height: auto;
			display: block;
			margin: 40px auto;
		}
		nav a{
			text-decoration: none;
			border-bottom: 1px solid #d76028;
			color: #d76028;
			background-color: #fff;
			padding: 1px;
			text-transform: uppercase;
			font-size: 14px;
			margin-left: 10px;
		}
		nav a:hover{
			text-decoration: none;
			color: #d76028;
			padding: 1px;
			background-color: #fff;
			border: 1px solid #d76028;
		}
		nav{
			text-align: right;
		}
		h2{
			/*text-transform: uppercase;*/
			color: #4e4b4f;
			font-style: normal;
			font-weight: 400;
		}
		h2>a{
			color: #d76028;
			text-decoration: none;
		}
		h2>a:hover{
			text-decoration: underline;
		}
		p{
			color: #919395;
		}
		h2,p{
			margin-top: 40px;
			text-align: center;
		}
		.box form{
			max-width: 200px;
			margin: 40px auto;
		}
		input[type="text"]{
			border: none;
			border-bottom: 2px solid #919395;
			min-width: 200px;
		}
		input[type="text"]:focus{
			outline: none;
			border-bottom: 2px solid #d76028;
		}
		input[type="submit"]{
			border: none;
			min-width: 200px;
			padding: 10px;
			margin-top: 10px;
			text-transform: uppercase;
			color: #fff;
			background-color: #d76028;
		}
		.imagul{
			max-width:600px;
			height: auto;
			display: block;
			margin: 40px auto;
		}